{% extends 'base.html.twig' %}

{% block title %}List of Courses{% endblock %}

{% block body %}
    <h1>List of Courses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>
                        <a href="{{ path('course_view', {'id': course.id}) }}" class="btn btn-primary">View</a>
                        <a href="{{ path('course_update', {'id': course.id}) }}" class="btn btn-primary">Update</a>
                        <a href="{{ path('course_delete', {'id': course.id}) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_new') }}" class="btn btn-success">Create New Course</a>
</body>
</html>
{% endblock %}