

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h1 class="ui header">Register</h1>

            <form class="ui form" method="post">
                {{ form_errors(registrationForm) }}

                <div class="field">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'ui input'}}) }}
                </div>

                <div class="field">
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'ui input'}}) }}
                </div>

                <div class="field">
             {{ form_row(registrationForm.roles, {
            label: 'Role'
        }) }}
                </div>

     

                <button type="submit" class="ui primary button">Register</button>
            </form>
        </div>
    </div>
{% endblock %}

