{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Courses</h1>
    <div class="ui segment">
        <a href="{{ path('course_new') }}" class="ui primary button m-3">Create Course</a>
        <a href="{{ path('section_new') }}" class="ui primary button m-3">Create Section</a>
        <a href="{{ path('manage_sections') }}" class="ui primary button">Manage Sections</a>
    </div>
    {% if courses is not empty %}
        <div class="ui cards">
            {% for course in courses %}
                <div class="card">
                    {% if course.image %}
                    <img class="ui image" src="{{ asset('uploads/courses/' ~ course.image) }}" alt="{{ course.title }} Image">
                {% endif %}
                    <div class="content">
                        <div class="header">{{ course.title }}</div>
                        <div class="meta">Course ID: {{ course.id }}</div>
                        <div class="description">{{ course.description }}</div>
                    </div>
                    <div class="extra content">
                        <div class="ui three buttons">
                            <a href="{{ path('manage_course', {'id': course.id}) }}" class="ui primary button">Manage</a>
                            <a href="{{ path('edit_course', {'id': course.id}) }}" class="ui secondary button">Edit</a>
                            <a href="{{ path('delete_course', {'id': course.id}) }}"  class="ui negative button">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No courses found.</p>
    {% endif %}
{% endblock %}
