{% extends 'base.html.twig' %}

{% block title %}Create a New Section{% endblock %}

{% block body %}
    <h1>Create a New Section</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.content) }}
    {{ form_row(form.course_id) }}
    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}
